<h4 class="media-heading"><%= comment.user.try(:email) %></h4>
<h6 class="pull-right text-muted"><%= time_ago_in_words(comment.created_at) + " ago" %></h6>

<p><%= comment.content %></p>

<div class="media-footer">
     <%= link_to like_post_comment_path(@post, comment), :class => "btn btn-default", method: :put do %>upvote (<%= comment.get_upvotes.size %>)<% end %>
     <%= link_to dislike_post_comment_path(@post, comment), :class => "btn btn-default", method: :put do %>downvote (<%= comment.get_downvotes.size %>)<% end %>
     <%= link_to 'Hide', hide_post_comment_path(@post, comment), :class => "btn btn-default", method: :post %>
</div>
