<% @title="Rewards" %>

<div class="contatiner" style="padding-top:30px">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="false" style="background-image: url(&quot;../assets/img/bg32.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
      </div>
      <div class="content-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <% flash.each do |name, msg| %>
        			<%= content_tag(:div, msg, class: "alert alert-info") %>
        		<% end %>
            <h1 class="title">Search the Rewards</h1>
            <div class="card card-raised card-form-horizontal card-plain">
              <div class="card-body">
              <%= search_form_for @search, defaults: {wrapper: :inline_field4} do |f| %>
            		<div class="row">
            			<div class="col-md-9">
            				<div class="form-group">
      		        	   <%= f.text_field :name_or_description_or_business_name_cont, placeholder: 'Keywords', class:"form-control", style:"background-color:white" %>
                    </div>
                  </div>
            			<div class="col-md-3">
      						  <%= f.submit "Search", class:"btn btn-primary btn-round btn-block" %>
            			</div>
            		</div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h3 style="text-align:center">You currently have <%= pluralize(current_user.try(:karma), 'point') %>.</h3>
  <% if @rewards.blank? %>
  <% else %>
  <br>
  <div class="container-fluid">
  <div class="card">
    <div class="card-content" style="text-align:center">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                      <th>Business</th>
                      <th>Name</th>
                      <th><%= sort_link @search, :cost, "Cost" %></th>
                      <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% @rewards.each do |reward| %>
                    <tr>
                      <td><%= reward.business.name %></td>
                      <td><strong><%= link_to reward.name, reward %></strong></td>
                      <td><%= reward.cost %> Points</td>
                      <td><%= truncate(reward.description, :length => 50) %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <div class="row">
          <div class="col mr-auto ml-auto">
            <div class="apple_pagination">
              <div class="page_info">
                <%= page_entries_info @rewards %>
              </div>
              <%= will_paginate @rewards, :container => false %>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  <% end %>
  <!-- maybe something should go here in the future 
  <div class="about-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center title">Couldn't find what you're looking for?</h2>
          <h4 class="text-center description">Submit a post with your question and see if anyone else has found it.</h4>
          <div style="text-align:center">
          <%= link_to 'New Post', new_post_path, class:"btn btn-primary btn-round mt-4 btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
         -->
</div>
<%= render "layouts/footer"%>