<% @title="Rewards" %>













<div class="contatiner" style="padding-top:30px">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="false" style="background-image: url(&quot;../assets/img/bg32.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
      </div>
      <div class="content-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <% flash.each do |name, msg| %>
        			<%= content_tag(:div, msg, class: "alert alert-info") %>
        		<% end %>
            <h1 class="title">Search the Rewards</h1>
            <div class="card card-raised card-form-horizontal card-plain">
              <div class="card-body">
              <%= search_form_for @search, defaults: {wrapper: :inline_field4} do |f| %>
            		<div class="row">
            			<div class="col-md-9">
            				<div class="form-group">
      		        	   <%= f.text_field :name_or_description_cont, placeholder: 'Keywords', class:"form-control", style:"background-color:white" %>
                    </div>
                  </div>
            			<div class="col-md-3">
      						  <%= f.submit "Search", class:"btn btn-primary btn-round btn-block" %>
            			</div>
            		</div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% if @rewards.blank? %>
  <% else %>
  <div class="card">
    <div class="card-content">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                      <th>Name</th>
                      <th>Cost</th>
                      <th>Description</th>
                      <th>Post Karma</th>
                      <th>User (karma)</th>
                      <th>Like</th>
                      <th>Dislike</th>
                      <th>Time created</th>
                  </tr>
                </thead>
                <tbody>
                  <% @rewards.each do |reward| %>
                    <tr>
                      <td><%= link_to reward.name, reward %></td>
                      <td><%= reward.cost %></td>
                      <td><%= reward.description %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <div class="row">
          <div class="col mr-auto ml-auto">
            <div class="apple_pagination">
              <div class="page_info">
                <%= page_entries_info @rewards %>
              </div>
              <%= will_paginate @rewards, :container => false %>
            </div>
          </div>
        </div>
    </div>
  </div>
  <% end %>
</div>
<%= render "layouts/footer"%>