<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'pro_form'}) do |f| %>
  
  <h4 style="color:black"><%= devise_error_messages! %></h4>
  
  <%= hidden_field_tag 'plan', params[:plan] %>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
       	<i class="material-icons">
        email
        </i>
      </span>
    </div>
    <%= f.email_field :email, autofocus: "off", class: 'form-control', placeholder:"Email", autocomplete:"email" %>
  </div>
  
  
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
       	<i class="material-icons">
        lock
        </i>
      </span>
    </div>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:"Password (6 characters minimum)" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
       	<i class="material-icons">
        lock
        </i>
      </span>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder:"Confirm Password" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
       	<i class="material-icons">
        store
        </i>
      </span>
    </div>
    <%= f.text_field :name, class: 'form-control', placeholder:"Business Name" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
       	<i class="material-icons">
        lock_open
        </i>
      </span>
    </div>
    <%= f.text_field :code, class: 'form-control', placeholder:"Reward Code (1234)" %>
  </div>
  
  
  <p style="color:black">Credit Card Information</p>

  
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
       	<i class="material-icons">
        credit_card
        </i>
      </span>
    </div>
    <%= text_field_tag :card_number, nil, name: nil, class: "form-control", placeholder:"4242 4242 4242 4242" %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
    <%= text_field_tag :card_code, nil, name: nil, class: "form-control", placeholder:"CVV" %>
    </div>
    <div class="form-group col-md-4">
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class:'form-control'}%>
    </div>
    <div class="form-group col-md-4">
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class:'form-control' } %>
    </div>
  </div>
  <div class="actions form-group">
    <%= f.submit "Sign up", class: 'btn btn-primary btn-round btn-lg', id: 'form-submit-btn' %>
  </div>
<% end %>