<% @title="Business Sign Up" %>


<body class="signup-page">
	
	<div class="page-header header-filter" filter-color="black">
	    <div class="page-header-image" style="background-image:url(../assets/img/bg18.jpg)"></div>
	    <div class="content">
	        <div class="container">
	            <div class="row justify-content-center">
	                <div class="col-md-4">
                      <% if params[:plan] == '2' %>
                        <h2>Annual Sign Up</h2>
                      <% elsif params[:plan] == '1' %>
                        <h2>Monthly Sign Up </h2>
                      <% else %>
                        <h2>Free Sign Up</h2>
                      <% end %>
	                    <div class="card card-signup">
	                        <div class="card-body">
                            <% if params[:plan] == '3' %>
                                <%= render "free_form" %>
                              <% else %>
                                <%= render "pro_form" %>
                            <% end %>
                            <%= render "businesses/shared/links" %>
	                        </div>
	                    </div>
	                </div><div></div>
	            </div>
	        </div>
	    </div>
		        <footer class="footer">
		    
		  <div class="container">
		    <nav>
		      <ul>
				<li>
		            <%= link_to 'Business Sign Up', signup_path %>     
		        </li>
		        <li>
		            <%= link_to 'Business Sign In', new_business_session_path %>
				</li>
		      </ul>
		    </nav>
		    <div class="copyright" id="copyright">
				© <%= Time.current.year %> Skoosm</a>	
		    </div>
		  </div>    
		
		
		</footer>
	
	</div>	
</body>