<body class="pricing">
		<div class="wrapper">
	    <div class="page-header page-header-small">
	    <div class="page-header-image" style="background-image: url('../assets/img/bg37.jpg');">
	    </div>
	    <div class="content-center">
	        <div class="row">
	            <div class="col-md-8 ml-auto mr-auto">
	                <h1 class="title">Let's get started</h1>
	            </div>
	        </div>
	    </div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="main">
	    <div class="pricing-4">
	
	<div class="container">
	    <div class="row">
	        <div class="col-md-6 ml-auto mr-auto text-center">
	            <h4 class="description">To get started, you will need to choose a plan for your needs. You have Unlimited Rewards and Premium Support on each package.</h4>
	            <div class="section-space"></div>
	        </div>
	    </div>
	
	    <div class="row">
	        <div class="col-md-4 offset-md-2">
	            <div class="card card-pricing" data-background-color="black">
	                <div class="card-body">
	                    <h6 class="category">Monthly</h6>
	                    <div class="icon icon-info">
							<i class="material-icons">
                            store
                            </i>
		                </div>
	                    <h3 class="card-title"><small>$</small>40</h3>
	                    <ul>
	                        <li>Per Month</li>
	                        <li>Unlimited Rewards</li>
	                    </ul>
	                    <%= link_to 'Sign Up', new_business_registration_path(plan: @monthly_plan.id), class:"btn btn-info btn-round" %>
	                </div>
	            </div>
	        </div>
	
	        <div class="col-md-4">
	            <div class="card card-pricing" data-background-color="black">
	                <div class="card-body">
	                    <h6 class="category">Annual</h6>
	                    <div class="icon icon-success">
							<i class="material-icons">
                            business
                            </i>
		                </div>
	                    <h3 class="card-title"><small>$</small>400</h3>
	                    <ul>
	                        <li>Per Year</li>
	                        <li>Unlimited Rewards</li>
	                    </ul>
	                    <%= link_to 'Sign Up', new_business_registration_path(plan: @annually_plan.id), class:"btn btn-neutral btn-primary btn-round" %>
	                </div>
	            </div>
	        </div>
		 </div>
	   </div>
	</div>
	
	<div class="section section-frequently">
	    <div class="container">
	        <div class="text-center">
	            <h3 class="title">Frequently Asked Questions</h3>
	        </div>
	        <div class="row">
	            <div class="col-md-4 ml-auto">
	                <div class="info info-horizontal">
	                    <div class="icon icon-info">
							<i class="material-icons">
                            money_off
                            </i>
                        </div>
	                    <div class="description">
	                        <h4 class="info-title">Can I cancel my subscription?</h4>
	                        <p>Yes, you can cancel and perform other actions on your subscriptions via the My Account page. </p>
	                    </div>
	                </div>
	
	            </div>
	
	            <div class="col-md-4 mr-auto">
	                <div class="info info-horizontal">
	                    <div class="icon icon-success">
							<i class="material-icons">
                            today
                            </i>
                        </div>
	                    <div class="description">
	                        <h4 class="info-title">Is there any discount for an annual subscription?</h4>
	                        <p>Yes, we offer a 40% discount if you choose annual subscription for any plan.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-4 ml-auto">
	                <div class="info info-horizontal">
	                    <div class="icon icon-warning">
							<i class="material-icons">
                            payment
                            </i>
                        </div>
	                    <div class="description">
	                        <h4 class="info-title">Which payment methods do you take?</h4>
	                        <p>We currently accept credit cards. Payment is managed by Stripe. </p>
	                    </div>
	                </div>
	
	            </div>
	
	            <div class="col-md-4 mr-auto">
	                <div class="info info-horizontal">
	                    <div class="icon icon-primary">
							<i class="material-icons">
                            live_help
                            </i>
                       	</div>
	                    <div class="description">
	                        <h4 class="info-title">Any other questions we can answer?</h4>
	                        <p>We are happy to help you. Contact us.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	

	
	    </div>
	
	
	        <footer class="footer">
	    
	  <div class="container">
	    <nav>
	      <ul>
			<li>
	            <%= link_to 'Business Sign Up', signup_path %>     
	        </li>
	        <li>
	            <%= link_to 'Business Sign In', new_business_session_path %>
			</li>
	      </ul>
	    </nav>
	    <div class="copyright" id="copyright">
			© <%= Time.current.year %> Skoosm</a>	
	    </div>
	  </div>    
	
	
	</footer>
	
	            </div>
</body>