<% if user_signed_in? %>
<% elsif business_signed_in? %>
<% @title= current_business.name %>

<% else %>

<% @title="Home" %>


<div class="header-2">
    <div class="page-header header-filter">
      <div class="page-header-image" style="background-image: url('assets/img/bg11.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <% flash.each do |name, msg| %>
        			<%= content_tag(:div, msg, class: "alert alert-info") %>
        		<% end %>
            <h1 class="title">Find what you've been searching for</h1>
            <h5 class="description">End your online scavenger hunt.</h5>
          </div>
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-raised card-form-horizontal card-plain" data-background-color="">
              <div class="card-body">
    		    <%= search_form_for @search, url: posts_path, defaults: {wrapper: :inline_field4} do |f| %>
                  <div class="row">
                    <div class="col-md-9">
                      <div class="form-group">
    		        	 <%= f.text_field :title_or_content_or_comments_content_cont, placeholder: 'Keywords', class:"form-control" %>
                      </div>
                    </div>
                    <div class="col-md-3">
     				  <%= f.submit "Search", class:"btn btn-primary btn-round btn-block" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="features-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Simpler. Smarter. Faster.</h2>
          <h4 class="description">Maybe Reddit has something that I can use here?</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info info-hover"><%= link_to posts_path do %>
            <div class="icon icon-success icon-circle">
              <i class="material-icons">
                question_answer
              </i>
            </div><% end %>
            <h4 class="info-title">Search Posts</h4>
            <p class="description">Find answers to questions already asked, answers found, and more.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover"><%= link_to courses_path do %>
            <div class="icon icon-info icon-circle">
                <i class="material-icons">
                account_balance
                </i>
            </div><% end %>
            <h4 class="info-title">Search by class</h4>
            <p class="description">Find the information associated with each of your classes.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover"><%= link_to rewards_path do %>
            <div class="icon icon-warning icon-circle">
                <i class="material-icons">
                redeem
                </i>
            </div><% end %>
            <h4 class="info-title">Earn rewards</h4>
            <p class="description">Earn points for submitting helpful posts or answering questions.</p>
          </div>
        </div>
      </div>
    </div>
</div>
<%= render "layouts/footer" %>
<% end %>
