  <% if user_signed_in? %>
    <div class="row">
        <div class="col-xl-6">
          <h2 class="title">My Courses</h2>
          <% if @enrolls.blank? %>
          <div class="card">
              <div class="card-body">
                <h5 style= "text-align:center">You haven't signed up for any courses yet.</h5>
                <p style= "text-align:center"><%= link_to 'Courses', courses_path, class: "btn btn-primary btn-round btn-fill" %></p>
              </div>
          </div>
          <% else %>
              <% @enrolls.each do |enroll| %>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><%= enroll.course.try(:name) %></h3>
                                <p class="text-muted font-14 mb-4"><%= enroll.course.posts.count %> posts <%= enroll.course.enrolls.count %> enrolls</p>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group" style="padding-bottom:40px"><%= link_to 'Course Page', course_path(enroll.course), :class => 'btn btn-primary' %><%= link_to 'Unenroll', enroll, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></div>
                            </div>
                        </div>

                        <div class="table-responsive-sm">
                            <h4 class="header-title">Posts</h4>
                            <table class="table table-hover table-centered mb-0">
                                <thead>
                                  <tr>
                                    <th>Title</th>
                                    <th>Post Karma</th>
                                    <th>Time created</th>
                                    <th colspan="1"></th>
                                  </tr>
                                </thead>
                        
                                <tbody>
                                  <% enroll.course.posts.each do |post| %>
                                    <tr>
                                      <td><%= post.title %></td>
                                      <td><%= post.get_upvotes.size %> - <%= post.get_downvotes.size %> = <%= post.weighted_score %> </td>
                                      <td><%= time_ago_in_words(post.created_at) + " ago" %></td>
                                      <td><%= link_to 'Show', post, :class => 'btn btn-primary btn-round' %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
              <% end %>
          <% end %>
        </div>
        <div class="col-xl-6">
          <h2 class="title">My Posts</h2>

            <% if @posts.blank? %>
            <div class="card">
                <div class="card-body">
                    <h5 style= "text-align:center">You haven't made any posts yet.</h5>
                    <p style= "text-align:center"><%= link_to 'New Post', new_post_path, class: "btn btn-primary btn-round btn-fill" %></p>
                </div>
            </div>
            <% else %>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-sm">
                      <table class="table table-hover table-centered mb-0">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Course</th>
                        <th>Post Karma</th>
                        <th>Time created</th>
                        <th colspan="1"></th>
                      </tr>
                    </thead>
        
                    <tbody>
                      <% @myposts.each do |post| %>
                        <tr>
                          <td><%= post.title %></td>
                          <td><%= post.course.name %></td>
                          <td><%= post.get_upvotes.size %> - <%= post.get_downvotes.size %> = <%= post.weighted_score %> </td>
                          <td><%= time_ago_in_words(post.created_at) + " ago" %></td>
                          <td><%= link_to 'Show', post, :class => 'btn btn-primary btn-round' %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                    </div>
                </div>
            </div>
          <% end %>
          
          <h2 class="title">My Comments</h2>
          <% if @comments.blank? %>
                <h5 style= "text-align:center">You haven't made any comments yet.</h5>
              <% else %>
              <div class="card">
                  <div class="card-body">
                      <div class="table-responsive-sm">
                          <table class="table table-hover table-centered mb-0">
                <thead>
                  <tr>
                    <th>Post</th>
                    <th>Content</th>
                    <th>Comment Karma</th>
                    <th>Time created</th>
                    <th colspan="1"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @mycomments.each do |comment| %>
                    <tr>
                      <td><%= comment.post.title %></td>
                      <td><%= comment.content %></td>
                      <td><%= comment.get_upvotes.size %> - <%= comment.get_downvotes.size %> = <%= comment.weighted_score %> </td>
                      <td><%= time_ago_in_words(comment.created_at) + " ago" %></td>
                      <td><%= link_to 'Show', comment.post, :class => 'btn btn-primary btn-round' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
                      </div>
                  </div>
              </div>
              <% end %>
        </div>
    </div>
  <% end %>