<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="false" style="background-image: url(&quot;../assets/img/bg26.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
      </div>
      <div class="content-center">
        <div class="container">
	       	<% flash.each do |name, msg| %>
		    <%= content_tag(:div, msg, class: "alert alert-danger", style: "color: #fff; text-align:center") %>
		    <% end %>
          <h1 class="title">Skoosm is your online study buddy.</h1>
        </div>
      </div>
    </div>
    <div class="features-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Find the answers to your quesitons here</h2>
                    <h4 class="description">Stop wasting your time searching for information that your classmates have already found. We collect all of the information previouslly found by current and former classmates.</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-background card-raised" data-background-color="" style="background-image: url('assets/img/bg24.jpg')">
                        <div class="info">
                            <div class="icon icon-white">
                                <i class="material-icons">
                                question_answer
                                </i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Search posts</h4>
                                <p>Find answers to questions already asked, answers found, and more.</p>
                                <%= link_to 'All Posts', posts_path, class:"btn btn-round btn-simple" %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-background card-raised" data-background-color="" style="background-image: url('assets/img/bg23.jpg')">
                        <div class="info">
                            <div class="icon icon-white">
                                <i class="material-icons">
                                account_balance
                                </i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Search by class</h4>
                                <p>Find the information associated with each of your classes.</p>
                                <%= link_to 'All Classes', courses_path, class:"btn btn-round btn-simple" %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-background card-raised" data-background-color="" style="background-image: url('assets/img/bg25.jpg')">
                        <div class="info">
                            <div class="icon icon-white">
                                <i class="material-icons">
                                redeem
                                </i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Earn rewards for contributing</h4>
                                <p>Earn points for submitting helpful posts or answering questions.</p>
                                <%= link_to 'All Rewards', rewards_path, class:"btn btn-round btn-simple" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "layouts/footer" %>
