<div class="contatiner" style="padding-top:30px">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="false" style="background-image: url(&quot;../assets/img/bg32.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
      </div>
      <div class="content-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h1 class="title">Search the Posts</h1>
            <div class="card card-raised card-form-horizontal card-plain">
              <div class="card-body">
              <%= search_form_for @search, defaults: {wrapper: :inline_field4} do |f| %>
            		<div class="row">
            			<div class="col-md-9">
            				<div class="form-group">
      		        	   <%= f.text_field :title_or_content_or_comments_content_cont, placeholder: 'Keywords', class:"form-control", style:"background-color:white" %>
                    </div>
                  </div>
            			<div class="col-md-3">
      						  <%= f.submit "Search", class:"btn btn-primary btn-round btn-block" %>
            			</div>
            		</div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% if @posts.blank? %>
  <% else %>
  <div class="card">
    <div class="card-content">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                      <th>Title</th>
                      <th>Course</th>
                      <th>University</th>
                      <th>Post Karma</th>
                      <th>User(karma)</th>
                      <th>Like</th>
                      <th>Dislike</th>
                      <th>Time created</th>
                  </tr>
                </thead>
                <tbody>
                  <% @posts.each do |post| %>
                    <tr>
                      <td><%= link_to post.title, post %></td>
                      <td><%= post.course.name %></td>
                      <td><%= post.course.university.name %></td>
                      <% if post.user.blank? %>
                          <td>N/A</td>
                          <td>User Deleted</td>
                          <td>N/A</td>
                          <td>N/A</td>
                        <% else %>
                          <td><%= post.get_upvotes.size %> - <%= post.get_downvotes.size %> = <%= post.weighted_score %> </td>
                          <td><%= post.user.email %>(<%= post.user.try(:karma) %>)</td>
                          <td class="td-actions"><%= link_to like_post_path(post), method: :put do %>
                            <i class="material-icons">thumb_up</i><% end %></td>
                          <td class="td-actions"><%= link_to dislike_post_path(post), method: :put do %>
                            <i class="material-icons">thumb_down</i><% end %></td>
                      <% end %>
                      <td><%= time_ago_in_words(post.created_at) + " ago" %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <div class="row">
          <div class="col mr-auto ml-auto">
            <div class="apple_pagination">
              <div class="page_info">
                <%= page_entries_info @posts %>
              </div>
              <%= will_paginate @posts, :container => false %>
            </div>
          </div>
        </div>
    </div>
  </div>
  <% end %>
  
  <div class="about-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center title">Didn't find what you're looking for?</h2>
          <h4 class="text-center description">Submit a post with your question and see if anyone else has found it.</h4>
          <div style="text-align:center">
          <%= link_to 'New Post', new_post_path, class:"btn btn-primary btn-round mt-4 btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer"%>
