<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= search_form_for @search, defaults: {wrapper: :inline_field4} do |f| %>
  <div class="well container">
    <h2>Search:</h2>
      <%= f.text_field :title_or_content_or_comments_content_cont, placeholder: 'Keywords' %>
      <br>
      <div class="container">
      <%= f.submit "Search" %>
    </div>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.url %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
