<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

 <div class="section">
  <div class="container container-comments">
    <h3 class="title" style="text-align:center">Comments</h3>
    <div class="row" style="">
      <div class="col-md-8 ">
          <div class="media-area">
              <div class="media">
                <div class="media-body">
                  <%= render :partial => @post.comments.where.not(id: Hide.select(:comment_id)) %>
                </div>
              </div> 
              <!--  Comment  -->
            <%= render "comments/form" %>
          </div> 
      </div> <!-- end col-md-8 -->
    </div>
  </div>
 </div>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
<%= link_to 'Flag', flag_post_path(@post), method: :post, :class => 'btn btn-round' %>


  <div class="social-buttons">
      <p style="text-align: center">Points: <%= @post.get_upvotes.size %> - <%= @post.get_downvotes.size %> = <%= @post.weighted_score %></p>
  </div>
  
<%= link_to like_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-up"></span>
<% end %>
<%= link_to dislike_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-down"></span>
<% end %>
