<nav class="navbar navbar-expand-lg bg-white navbar-absolute navbar-white navbar-fixed-top">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/" rel="tooltip" title="" data-placement="bottom">
          SKOOSM
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse show">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="text-align:center"><%= link_to 'Dashboard', root_path, class:"nav-link"%></li>
            <li class="nav-item" style="text-align:center"><%= link_to 'All Rewards', rewards_path, class:"nav-link" %></li>
            <li class="nav-item" style="text-align:center"><%= link_to 'New Reward', new_reward_path, class:"nav-link" %></li>
            <li class="nav-item" style="text-align:center"><%= link_to 'My Rewards', ourrewards_path, class:"nav-link" %></li>
            <li class="nav-item" style="text-align:center"><%= link_to 'Edit Account', edit_business_registration_path, class:"nav-link" %></li>
            <li class="nav-item" style="text-align:center"><%= link_to 'Sign Out', destroy_business_session_path, :method => :delete, class:"nav-link" %></li>
        </ul>
      </div>
    </div>
</nav>

