<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => "reload" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => "reload"  %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= tag :meta, :name => "stripe-key", :content => 'pk_test_kIdks93l4qXgf5iiwMdMZoDR' %>
  <%= csrf_meta_tags %>
  
  <!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
	
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

  <title>Skoosm | <%= @title %></title>

  <!-- Google Analytics -->
  <% if Rails.env.production? %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131000315-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131000315-1');
  
    document.addEventListener('turbolinks:load', event => {
      if (typeof gtag === 'function') {
        gtag('config', 'UA-131000315-1', {
          'page_location': event.data.url
        });
      }
    });
  </script>
  <% end %>

</head>
<body>
  <!-- Navbars -->
  <% if user_signed_in? %>
  <!-- User logged in -->
  <%= render "layouts/user_navbar" %>
  <% elsif business_signed_in? %>
  <!-- Business logged in -->
  <%= render "layouts/business_navbar" %>
  <% else %>
  <!-- Not logged in -->
  <%= render "layouts/navbar"%>
  <% end %>


        
        <%= yield %>
        
</body>
</html>
